@media (max-width: 1180px) { 
  #myRub{
    display: none;
  }
 }
 @media (max-width: 1158px) { 
  #myInput{
    font-size: 12px;
    width: 100%;
  }
 }
body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 130%;
  color: #333333;
}

.u-list li:nth-child(n+10) {
  display: none;
}

.u-list.open li:nth-child(n+10) {
  display: list-item;
}

.container {
  max-width: 1280px !important;
}
.ui-slider-handle{
  background-color: #ffffff !important;
  border: 2px solid #000000 !important;
  width: 14px !important;
  height: 14px !important;
  border-radius: 20px !important;
  
}
.ui-slider-range{
  height: 4px !important;
  background-color: #000000 !important;
}

.ui-slider-horizontal{
  height: 4px !important;
  background-color: #000000 !important;
}
.page-link{
  background-color: #ffffff !important;
  color: #000000 !important;
  border: none !important;
}
.pagination{
  border: none !important;
}
.myActiveLink a:focus{
  border-bottom: 1px solid #000000 !important;
  color: #000;
  }
.myImageEffect:hover{
  opacity: 0.7;
}